.desktop {
  display: flex;
  flex-direction: column;
}

.mobile,
.tablet {
  display: none;
}

.category h3 {
    font-size: 16px;
    font-weight: 500;
    
    background-color: black;
    color: white;

    text-align: center;
    
    padding: .5rem;
}


@media screen and (max-width: 1024px) {
  .tablet {
    display: flex;
    flex-direction: column;
  }

  .mobile,
  .desktop {
    display: none;
  }

  .category img {
    max-width: 210px;
}

}
@media screen and (max-width: 768px) {
  .mobile {
    display: flex;
    flex-direction: column;
  }

  .tablet,
  .desktop {
    display: none;
  }

  .category img {
    max-width: 146px;
}

}
