.desktop {
  display: flex;
  flex-direction: column;
}

.mobile,
.tablet {
  display: none;
}

.category {
  border: 2px solid transparent;
}

.category.false:hover {
  cursor: pointer;
  border-color: black;
}

.category.true {
  border-color:  #9353FF;
}

.category h3 {
  font-size: 16px;
  font-weight: 500;

  background-color: black;
  color: white;

  text-align: center;

  padding: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .tablet {
    display: flex;
    flex-direction: column;
  }

  .mobile,
  .desktop {
    display: none;
  }

  .category img {
    max-width: 210px;
    height: 157px;
  }
}
@media screen and (max-width: 768px) {
  .mobile {
    display: flex;
    flex-direction: column;
  }

  .tablet,
  .desktop {
    display: none;
  }

  .category img {
    max-width: 146px;
  }
}
