.categoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  box-sizing: border-box;
  
  margin-top: 74px;
  margin-bottom: 48px;
  padding: 0 165px;
  width: 100%;
}

.categoryContainer h2 {
  color: #212529;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
}

.categoryList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .categoryList {
    display: grid;
    grid-template-columns: auto auto auto;

    row-gap: 24px;
  }

  .categoryContainer {
    margin-top: 40px;
    margin-bottom: 45px;
  }

  .categoryContainer h2 {
    font-size: 28px;
    width: 100vw;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .categoryContainer {
    margin-top: 24px;
    margin-bottom: 50px;
  }

  .categoryList {
    grid-template-columns: auto auto;
    row-gap: 16px;
  }
}


