.categoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  margin-top: 74px;
  width: 100%;

  padding: 0 165px;
  box-sizing: border-box;
}

.categoryList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .categoryList {
    display: grid;
    grid-template-columns: auto auto auto;

    row-gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .categoryList {
    grid-template-columns: auto auto;
    row-gap: 16px;
  }
}
