.container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 0px;
}

.newsLetter {
  border: 2px solid #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  padding: 40px;

  width: 729px;
}

.newsLetter p {
  color: #212529;

  font-size: 20px;
  font-weight: 400;
  line-height: normal;

  text-align: center;
}

.newsLetter div {
  display: flex;
  border: 1px solid #6c757d;
}

.newsLetter div input {
  width: 456px;
  padding-left: 15px;
}

.newsLetter div input::placeholder {
  color: #6c757d;

  font-size: 16px;
  font-weight: 400;
  line-height: 23px; /* 143.75% */

}

.newsLetter div input:focus {
    outline: none;
    border: 1px solid #9353FF;
}

.modal > div > div {
  width: 100%;
  max-width: 700px;
}

.headerContainer {
  background-color: black;
  display: flex;
  align-items: center;
}

.modalHeader {
  background-color: black;
  display: flex;
  align-items: center;
  gap: 20px;
}

.modalHeader h2 {
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.modalContent,
.modalContent > div,
.modalProductInfo {
  display: flex;
}

.modalContent {
  gap: 16px;
}

.modalContent > div {
  flex-direction: column;
}

.modalContent > div {
  gap: 16px;
}

.modal > div {
  flex-direction: column;
  justify-content: start;
}

@media screen and (max-width: 1024px) {
  .newsLetter {
    width: 690px;
  }

  .newsLetter div input {
    width: 372.4px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 28px;
  }
  .newsLetter {
    width: 321px;
    padding: 24px 16px;
  }

  .newsLetter p {
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 143.75% */
  }

  .newsLetter div input {
    width: 244.044px;
  }

  .modal > div {
  padding: 0 1rem;
}
}
