.cart {
  padding: 2rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;
  height: calc(100vh - 54px - 84px);

  overflow: auto;
}

.cartHeader, .cartFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 60%;

  padding: 0 .6rem;
  box-sizing: border-box;
}

.cartHeader button {
  align-self: flex-end;
}

.cartHeader > h2 {
  color: rgb(50, 50, 50);
  margin-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;

  overflow: auto;
}

.wrapper {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;

  height: 80%;
  width: 60%;

  padding: 1rem 0;
}


.content::-webkit-scrollbar {
    width: 8px;
    transform: translateX(30px);
    opacity: 0;
    box-sizing: border-box;
}

.content::-webkit-scrollbar-track {
    background: #e6e6e6;
    opacity: 0.6;
    z-index: -1;
}

.content::-webkit-scrollbar-thumb {
    /* background-color: var(--secondary); */
    /* border-radius: 12px; */
    border-radius: 5px;
    border: 3px solid var(--primary);
    background-color: #bfbfbf
}



.cartFooter button {
  justify-self: end;
}
.total {
  font-size: 1.3rem;
  color: rgb(50, 50, 50);
  font-weight: 500;
}