.product {
  width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.product img {
  height: 422px;
}

.product div {
  padding: 16px;
}

.product div h3 {
  color: #212529;

  font-size: 16px;
  font-weight: 700;
  line-height: 23px; /* 143.75% */
}

.product div h3:not(:first-child) {
  margin-bottom: 10px;
}

.product div p {
  color: #212529;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */

  padding: 15px 0px;
}



.modal > div > div {
  width: 100%;
  max-width: 700px;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper   {
  background-color: red;
  max-width: none;
}

.headerContainer {
  background-color: black;
  display: flex;
  align-items: center;
}

.modalHeader {
  background-color: black;
  display: flex;
  align-items: center;
  gap: 20px;
}

.modalHeader h2 {
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.desktop {
  display: flex;
  flex-direction: column;
}

.mobile,
.tablet {
  display: none;
}

@media screen and (max-width: 1024px) {
  .tablet {
    display: flex;
    flex-direction: column;
  }

  .mobile,
  .desktop {
    display: none;
  }

  .product {
    width: 330px;
  }

  .product img {
    height: 389px;
  }
}
@media screen and (max-width: 768px) {
  .mobile {
    display: flex;
    flex-direction: column;
  }

  .tablet,
  .desktop {
    display: none;
  }

  .product {
    width: 323px;
  }

  .product img {
    height: 402px;
  }
}
