.product {
  width: 350px;
}

.product img {
  height: 422px;
}

.product div {
  padding: 16px;
}

.product div h3 {
  color: #212529;

  font-size: 16px;
  font-weight: 700;
  line-height: 23px; /* 143.75% */
}

.product div p {
  color: #212529;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */

  padding: 15px 0px;
}

.product div button {
    color:  white;
    background-color: #9353FF;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.457px;

    margin-top: 10px;
    padding: 9px 16px;

    transition: all .25s ease;
}

.product div button:hover {
    background-color: #7e33ff;
    cursor: pointer;
}

.desktop {
  display: flex;
  flex-direction: column;
}

.mobile,
.tablet {
  display: none;
}

@media screen and (max-width: 1024px) {
  .tablet {
    display: flex;
    flex-direction: column;
  }

  .mobile,
  .desktop {
    display: none;
  }

  .product {
    width: 330px;
  }

  .product img {
    height: 389px;
  }
}
@media screen and (max-width: 768px) {
  .mobile {
    display: flex;
    flex-direction: column;
  }

  .tablet,
  .desktop {
    display: none;
  }

  .product {
    width: 323px;
  }

  .product img {
    height: 402px;
  }
}
