.cart {

    position: absolute;
    top: 0;
    
    height: 100vh;
    width: 100%;
    
    z-index: 20;
}


.aside {
    background-color: rgb(217, 217, 217, 1);

    position: fixed;
    right: 0;

    transition: all .25s ease;

    width: 320px;
    height: 100vh;

    z-index: 20;
}

.aside.hide {
    transform: translateX(320px);
}

.aside.show {
    transform: translateX(0);
}

.wrapper {
    position: relative;
}

.cartIcon {
    position: fixed;
    top: 8rem;
    right: 1rem;

    z-index: 10;
}

.closeIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.closeIcon:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .cartIcon {
    
    top: 10rem;
    

    z-index: 10;
}
}