.cart {
    display: block;

    position: fixed;
    top: 0;
    
    height: 100vh;
    width: 100%;
    
    z-index: 99;
}

.overlayHide {
    opacity: 0;
}

.overlayShow {
    opacity: 100;
}

.aside {
    background-color: rgb(217, 217, 217, 1);

    position: absolute;
    right: 0;

    transition: all .25s ease;

    width: 320px;
    height: 100%;
}

.aside.hide {
    transform: translateX(320px);
}

.aside.show {
    transform: translateX(0);
}

.cartIcon {
    background-color: red;
}