.container__nav,
.list,
.list__menu {
  display: flex;
}

.container__nav {
  background-color: #000000;

  justify-content: space-between;
  align-items: center;

  padding: 1rem 23px;

  
}

.rightHeader {
  display: flex;
  gap: 1.3rem;
}

.logo {
  background-image: url("/src/components/Cabecalho/logo-desktop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 132.75px;
  height: 32px;
}

.list,
.list__menu {
  align-items: center;
  gap: 1.3rem;
  list-style: none;
}

.list__menu {
  color: white;
}

.list__menu li {
  font-size: 16px;
}

.list__menu li:hover {
  cursor: pointer;
  color: #cccccc;
}

.search,
.btn {
  height: 100%;
  padding: 1rem;
}

.search {
  color: #6c757d;
  /* background-color: #ced4da; */

  font-size: 15px;
  font-weight: 400;

  outline: none;

  width: 170px;
}

.btn {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;

  font-size: 16px;
  font-weight: 500;

  text-align: center;

  width: 80px;
}

.btn__mobile {
  display: none;
}

.rightHeader > img,
.list__menu li img {
  display: none;
}

@media screen and (max-width: 1023px) {
  .logo {
    background-image: url("./logo-tablet.png");
    width: 99.56px;
    height: 24px;
  }

  .list,
  .list__menu,
  .rightHeader {
    gap: 20px;
  }

  .list__menu li {
    font-size: 13px;
  }

  .search {
    font-size: 13px;
    width: 118px;
  }

  .btn {
    font-size: 13px;
    display: block;
    width: 67px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    background-image: url("./logo-mobile.png");
  }

  .container__nav {
    background-color: transparent;
    flex-direction: column;
    padding: 0;
  }

  .rightHeader {
    background-color: #000000;

    justify-content: space-between;

    position: relative;

    width: 100%;

    padding: 20px 23px;
    box-sizing: border-box;
  }

  .rightHeader > img,
  .list__menu li img {
    display: block;
  }

  .list__menu {
    background-color: #343a40;

    align-items: start;
    flex-direction: column;
    gap: 0;

    position: absolute;
    top: -200px;
    right: 0;

    padding: 42px 24px 24px 24px;

    box-sizing: border-box;

    transition: all 0.5s ease;
  }

  .list__menu.opened {
    transform: translateY(200px);
    right: 0;
  }

  .list__menu li {
    width: 100%;
  }

  .list__menu li.item__menu:not(:last-child) {
    border-bottom: 1px solid #ced4da;
    padding-bottom: 8px;
  }

  .list__menu li.item__menu:not(:first-child) {
    padding-top: 8px;
  }

  .list__menu li:hover {
    font-weight: 700;
    color: #daff01;
  }

  .list__menu li img {
    position: absolute;
    top: 14px;
    right: 23px;
  }

  .list {
    padding: 1rem 0;
    margin: 0 auto;
    gap: 8.2px;
  }

  .search,
  .btn__mobile {
    border: 1px solid #000000;
  }

  .search {
    height: 38px;
    width: 225.6px;
    padding: 0;
  }

  .search::placeholder {
    padding-left: 12px;
  }

  .btn {
    display: none;
  }

  .btn__mobile {
    color: #000000;
    background-color: #ffffff;

    font-size: 16px;
    font-weight: 500;

    text-align: center;
    padding: 9px, 12px, 9px, 12px;
    display: block;

    height: 37px;
    width: 88.42px;
  }
}
