.container__nav,
.list,
.list__menu {
  display: flex;
}

.container__nav {
  background-color: #000000;

  justify-content: space-between;
  align-items: center;

  padding: 1rem 23px;

  height: 58px;
}

.logo {
  background-image: url("./logo-desktop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 132.75px;
  height: 32px;
}

.list,
.list__menu {
  align-items: center;
  gap: 1.3rem;
  list-style: none;
}

.list__menu {
  color: white;
}

.list__menu li {
  font-size: 16px;
}

.list__menu li:hover {
  cursor: pointer;
  color: #cccccc;
}

.search,
.btn {
  height: 100%;
  padding: 1rem;
}

.search {
  color: #6c757d;
  /* background-color: #ced4da; */

  font-size: 15px;
  font-weight: 400;

  outline: none;

  width: 170px;
}

.btn {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
  
  font-size: 16px;
  font-weight: 500;
  
  text-align: center;
  
  width: 80px;
}

.btn__mobile {
  display: none;
}
@media screen and (max-width: 1023px) {
  .logo {
    background-image: url("./logo-tablet.png");
    width: 99.56px;
    height: 24px;
  }

  .list,
  .list__menu {
    gap: 20px;
  }

  .list__menu li {
    font-size: 13px;
  }

  .search {
    font-size: 13px;
    width: 118px;
  }
  .btn {
    font-size: 13px;
    display: block;
    width: 67px;
  }

}

@media screen and (max-width: 767px) {
  .logo {
    background-image: url("./logo-mobile.png");
  }

  .container__nav {
    flex-direction: column;
    padding: 0;
  }

  .list__menu {
    padding: 1rem 0;
  }

  .list {
    padding: 1rem 0;
    margin: 0 auto;
    gap: 8.2px;
  }

  .search,
  .btn__mobile {
    border: 1px solid #000000;
  }

   .search {
    height: 38px;
    width: 225.6px;
    padding: 0;
   }

  .btn {
    display: none;
  }

  .btn__mobile {
    color: #000000;
    background-color: #ffffff;

    font-size: 16px;
    font-weight: 500;

    text-align: center;
    padding: 9px, 12px, 9px, 12px;
    display: block;

    height: 37px;
    width: 88.42px;
  }
}
