.black,
.offWhite,
.lightBlue {
  border: 1px solid #bfbfbf;
  display: inline-block;

  width: 24px;
  height: 18px;

  padding: 2px;
  margin-right: 2px;
  box-sizing: border-box;
}

.black > div,
.offWhite > div,
.lightBlue > div {
  width: 100%;
  height: 100%;
}

.black > div {
  background-color: black;
}

.lightBlue > div {
  background-color: lightblue;
}
.offWhite > div {
  background-color: #e6e6e6;
}