.aside_item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 8px;
  box-sizing: border-box;
  width: 100%;
}

.aside_item:not(:last-child) {
  border-bottom: 1px solid rgb(204, 204, 204);
}

.aside_item img {
  width: 70px;

  object-fit: contain;
}

.aside_item div.item_info {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.aside_item div.item_info p {
  font-weight: 600;
  color: #262626;
}

.aside_item div.itemDescription {
  display: flex;
  align-items: center;
}

.aside_item div.itemDescription .sizing {
  font-size: 0.9rem;
  font-weight: 500;
  color: #262626;

  text-align: center;
}

.aside_item div.item_info div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.aside_item div.quantity {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 4px;

  width: 50px;
}

.aside_item div.quantity {
  margin-left: auto;
}

.aside_item div.quantity span:first-child,
.aside_item div.quantity span:last-child {
  width: 1rem;
  padding: 2px;
  text-align: center;
}

.aside_item div.quantity span:first-child:hover,
.aside_item div.quantity span:last-child:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.deleteIcon {
  color: #ff6666;
  padding-right: 0.5rem;
}

.deleteIcon:hover {
  cursor: pointer;
}

.black,
.offWhite,
.lightBlue {
  border: 1px solid #bfbfbf;
  display: inline-block;

  width: 24px;
  height: 18px;

  padding: 2px;
  margin-right: 2px;
  box-sizing: border-box;
}

.black > div,
.offWhite > div,
.lightBlue > div {
  width: 100%;
  height: 100%;
}

.black > div {
  background-color: black;
}

.lightBlue > div {
  background-color: lightblue;
}
.offWhite > div {
  background-color: #e6e6e6;
}

@media screen and (max-width: 768px) {
  .aside_item > .item_info > p {
   font-size: .9rem;
  }
}
