.banner {
  /* background-image: url("./Banner-carousel-desktop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
  padding: 0;
  margin: 0;

}

.imgOneDesktop {
  display: block;
}

.imgOneDesktop,
.imgOneTablet,
.imgOneMobile {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-top: -2.4px;
}

.imgOneTablet,
.imgOneMobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .imgOneTablet {
    display: block;
  }

  .imgOneDesktop,
  .imgOneMobile {
    display: none;
  }

  .imgOneDesktop,
  .imgOneTablet,
  .imgOneMobile {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .imgOneMobile {
    display: block;
  }

  .imgOneDesktop,
  .imgOneTablet {
    display: none;
  }
}
